<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LKA Esports</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>LKA ESPORTS</h1>
    <div class="next-match-box">
        <p>SIRADAKİ MAÇ: LKA vs <%= stats.nextMatch %></p>
        <p>SKOR: <%= stats.matchTime %></p>
    </div>

    <section class="roster-grid">
        <% players.forEach(player => { %>
            <div class="player-card-container">
                <div class="card-inner">
                    <div class="card-front">
                        <h2><%= player.nick %></h2>
                        <p><%= player.kupa %></p>
                        <p><%= player.ozellik %></p>
                    </div>
                    <div class="card-back">LKA ESPORTS</div>
                </div>
            </div>
        <% }); %>
    </section>
</body>
</html>
